.card,
.brand-page {
  margin: 1.5rem 1rem;
  border-radius: 5%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  float: left;
  width: 25rem;
  height: 35rem;
}
.text-success {
  font-size: 1.5rem;
  font-weight: bold;
}
